<html>
    <header>
        <title>PriChoSha | PriChoSha</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </header>
    <style>
            .row {
                margin-bottom: 10px
            }
    </style>
    <body>
        <div class='container'>
            <a href='/home' class='btn btn-primary'>Return Home</a>
            <div class='row col-10 text-center'>
                <h1>Confirmation Page</h1>
                <h3>Found more than 1 matching. Please confirm your friend.</h3>
            </div>

            {% if error %}
            <p class="error text-warning"><strong>Error:</strong> {{error}}</p>
            {% endif %}

            <!-- FriendGroup Sharing Info -->
            <div id='PeopleTable' class='text-center'>
                <h4>People Found: {{people|length}}</h4>
                <h5>Just click on the person's email to confirm</h5>
                <table class='table table-hover'>
                    <thead class='thead-dark'>
                        <tr>
                            <th scope='col'>First Name</th>
                            <th scope='col'>Last Name</th>
                            <th scope='col'>Email</th>
                        </tr>
                    </thead>
                    {% for line in people %}
                        <tr>
                            <td>{{line.fname}}</td>
                            <td>{{line.lname}}</td>
                            <td><a href='/addFriendConfirmation/email={{line.email}}&fg_name={{fg_name}}'>{{line.email}}</a>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>