<html>
    <header>
        <title>PriChoSha | PriChoSha</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </header>
    <style>
            .row {
                margin-bottom: 10px
            }
            a:hover {
                cursor: hand;
            }
    </style>
    <script src='/static/addFriend.js'></script>
    <body>
        <div class='container'>
            <a href='/home' class='btn btn-primary'>Return Home</a>
            <div class='row col-10 text-center'>
                <h1>Add a friend</h1>
                <h3>Please enter the first and last name of your friend</h3>
            </div>

            {% if error %}
            <p class="error text-warning"><strong>Error:</strong> {{error}}</p>
            {% endif %}

            <!--Post Content Form-->
            <div class='row col-10 text-center'>
                <form method="POST" id='friendForm'>
                    <input type='text' name='firstName' placeholder='First Name' required>
                    <input type='text' name='lastName' placeholder='Last Name' required>
                </form>
            </div>
            <!-- FriendGroup Sharing Info -->
            <div id='FriendGroupTable' class='text-center'>
                <h4>Here is a list of FriendGroups you own</h4>
                <h5>Just click on the FriendGroup you want to add this person to.</h5>
                <table class='table table-hover'>
                    <thead class='thead-dark'>
                        <tr>
                            <th scope='col'>FriendGroup Name</th>
                            <th scope='col'>FriendGroup Description</th>
                        </tr>
                    </thead>
                    {% for line in friendGroup %}
                        <tr>
                            <td><a data-fg-name='{{line.fg_name}}' form='friendForm'>{{line.fg_name}}</a></td>
                            <td>{{line.description}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>