<html>
    <header>
        <title>PriChoSha | {{username}}</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/static/index.js"></script>
    </header>
    <style>
            .row {
                margin-bottom: 10px
            }
    </style>
    <body>
        <div class='container'>
            <div class='row col-10 text-center'>
                <h1>Create FriendGroup</h1>
                <h3>Please enter FriendGroup Information</h3>
            </div>
            <!--Post Content Form-->
            <div class='row col-10 text-center'>
                <form action='/insertFriendGroup' method="POST" id='FriendGroup'>
                    <input type='text' name='fg_name' placeholder='FriendGroup Name' required>
                    <input type='text' name='description' placeholder='Description'>
                    <button onclick='handleSubmit()' type='submit' name='createFriendGroup' class='btn btn-primary' form="FriendGroup" value='createFriendGroup'>Create FriendGroup</button>
                </form>
                {% if error %}
                    <p class="error text-warning"><strong>Error:</strong> {{error}}</p>
                {% endif %}
            </div>
        </div>
    </body>

</html>