<html>
    <header>
        <title>PriChoSha | PriChoSha</title>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </header>
    <style>
            .row {
                margin-bottom: 10px
            }
            a:hover {
                cursor: hand;
            }
    </style>
    <body>
        <div class='container'>
            <a href='/home' class='btn btn-primary'>Return Home</a>
            <div class='row col-10 text-center'>
                <h1>Choose a FriendGroup you wish to leave</h1>
                <h3>Here is a list of ones you belong to (not ones you own)</h3>
            </div>
            <!-- Tagged Table -->
            <div class='row col-10 text-center'>
                <h4>FriendGroup Table</h4>
                <table class='table table-hover'>
                    <thead class='thead-dark'>
                        <tr>
                            <th scope='col'>FriendGroup</th>
                            <th scope='col'>Owner</th>
                            <th scope='col'>Description</th>
                            <th scope='col'>Leave?</th>
                        </tr>
                    </thead>
                    {% for line in items %}
                        <tr>
                            <td>{{line.fg_name}}</td>
                            <td>{{line.owner_email}}</td>
                            <td>{{line.description}}</td>
                            <td>
                                <form action='/leaveGroupAction/fg_name={{line.fg_name}}&fg_owner={{line.owner_email}}' id='tag-{{line.fg_name}}-{{line.owner_email}}' method='POST'>
                                    <button class='btn btn-danger' name='action' type='submit' form='tag-{{line.fg_name}}-{{line.owner_email}}' value='leave'>Leave</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>

</html>